:root {
  --c-primary: #8d1514;
  --c-accent: #b1cbbb;
  --c-surface: #ddeaed;
  --c-grey: #bdb7b5;
  --c-dark: #17161c;
  --c-light: #ffffff;

  --c-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), 0 2px 4px rgba(0, 0, 0, 0.05),
    0 4px 8px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.03),
    0 16px 32px rgba(0, 0, 0, 0.02), 0 32px 64px rgba(0, 0, 0, 0.01);

  --transition: all 0.15s ease-in-out;
  --border-radius: 0.25rem;
  --border: 2px solid var(--c-dark);

  --size-default: 60rem;
  --breakpoint-default: calc(var(--size-default) + 16rem);
  --size-wide: 78rem;
  --breakpoint-wide: calc(var(--size-wide) + 16rem);
}
